name: Run CI
on:
  push:

jobs:
  Lint-Build-Stage:
    name: Lint-Build-Stage
    if: ${{ !contains(github.event.head_commit.message, 'ci-skip') }}

    runs-on: ubuntu-latest
    container: six2dez/reconftw:main
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: Test
        run: |-
          /reconftw/reconftw.sh
